.login{
    border: 1px solid black;
    width: 500;
    height: 400px;
    background: url(Background.jpg);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

form{
    display: block;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    gap: 1px;
}

h1{
    font-size: 40px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label{
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

input{
    background: rgba(255, 255, 255, 0.3);
    height: 15px;
    line-height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 5px;
}

button{
    background: rgb(128, 0, 128);
    height: 35px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 5px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}